.section-about
    padding: 8rem 0 11rem

.section-adventure
    padding: 22rem 0
    background: linear-gradient(90deg, rgba($color-brown-light, 0.7), rgba($color-black, 0.7)), url("../img/section-adventure-bg.jpg") center / cover no-repeat
    // clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 85%)
    transform: skewY(7deg)
    & > *
        transform: skewY(-7deg)

.section-tours
    padding: 11rem 0 8.5rem

.section-feedback
    padding: 8rem 0
    position: relative

.section-book
    padding: 10rem
    background: linear-gradient(90deg, $color-brown-light, $color-brown-dark)
